@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
p,
h1,
h2,
h3,
h4 {
  margin-bottom: 0;
  letter-spacing: 0;
}

p {
  line-height: 19px;
}

.btn-primary {
  background: #a1ffa1;
  border-radius: 12px;
  color: #0a2b51;
  font-weight: 500;
  padding: 15px 0;
  text-align: center;
  border: none;
  font-size: 16px;
}

.btn-secondary {
  background: #fff;
  border: 1px solid #0a2b51;
  border-radius: 12px;
  padding: 10px 0;
  color: #0a2b51;
  transition: 0.25s;
}
.btn-secondary:hover {
  background: #a1ffa1;
  border-color: #a1ffa1;
}

.text-section {
  margin-top: 25px;
  margin-bottom: 25px;
}
.text-section ul {
  padding-left: 30px;
}

@media (max-width: 767.98px) {
  .container {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.header-close {
  cursor: pointer;
}
.header-close img {
  height: 24px;
  width: 24px;
}
@media (max-width: 767.98px) {
  .header-close img {
    height: 20px;
    width: 20px;
  }
}

.contact-col .form-control {
  background: transparent;
  border-radius: 0;
  padding-left: 0;
  color: #fff;
  height: 30px;
}
@media (max-width: 767.98px) {
  .contact-col .form-control {
    height: 40px;
  }
}
.contact-col .form-control::placeholder {
  color: #fff;
  font-weight: 300;
  font-size: 12.8px;
}

.pre-header {
  height: 48px;
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .pre-header {
    height: 40px;
    font-size: 12.8px;
  }
}

.navbar .nav-res:hover .subheader {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 767.98px) {
  .navbar .dropdown {
    border: 1px solid #ffffff;
    border-radius: 8px;
    margin-top: 24px;
  }
  .navbar .dropdown .dropdown-toggle::after {
    border: none !important;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f107"; /* the desired FontAwesome icon */
    vertical-align: 0; /* to center vertically */
    margin-right: 11px;
    margin-left: auto;
  }
  .navbar .dropdown .dropdown-toggle.show::after {
    content: "\f106" !important; /* the different icon */
  }
}
.navbar .dropdown .dropdown-toggle {
  padding-left: 16px !important;
  padding-right: 0px !important;
}
.navbar .dropdown .dropdown-toggle span {
  font-size: 12px;
  font-weight: 400;
  padding-left: 7px;
}
@media (max-width: 767.98px) {
  .navbar .dropdown .dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto !important;
  }
  .navbar .dropdown .dropdown-toggle span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-left: 10px;
  }
  .navbar .dropdown .dropdown-toggle img {
    width: 29px;
  }
}
.navbar .dropdown .dropdown-toggle:focus {
  outline: none !important;
  box-shadow: none;
}
.navbar .dropdown button:focus,
.navbar .dropdown a:focus {
  outline: none;
}
.navbar .dropdown .dropdown-menu {
  border-top: 0.5px solid #acffbe;
  padding: 24px 0 8px 0;
  min-width: 100px;
  margin-top: 24px;
  white-space: nowrap;
}
.navbar .dropdown .dropdown-menu li .nav-link {
  padding: 0 20px 16px 20px;
}
.navbar .dropdown .dropdown-menu li .nav-link span {
  font-weight: 600;
  font-size: 12.8px;
  line-height: 15px;
  margin-left: 7px;
}
.navbar .dropdown .dropdown-menu li .nav-link img {
  width: 29px;
}
@media (max-width: 767.98px) {
  .navbar .dropdown .dropdown-menu {
    border-top: none;
    padding: 0;
    margin-top: 6px;
  }
  .navbar .dropdown .dropdown-menu li .nav-link {
    padding: 0 16px 16px 16px;
  }
  .navbar .dropdown .dropdown-menu li .nav-link span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
}
.navbar .subheader {
  padding: 30px 0 40px 0;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: opacity ease-in 0.2s;
  top: 100%;
  left: 0;
  position: absolute;
  border-top: 0.5px solid #acffbe;
}
.navbar .subheader .resources-row .resource-item a:hover {
  color: #a1ffa1 !important;
}
.navbar .subheader .resources-row .resource-item button a:hover {
  color: #0a2b51 !important;
}
.navbar .subheader .resources-row .resource-item:first-child {
  margin-right: 106px;
}
.navbar .subheader .resources-row .resource-item:first-child a:hover {
  color: #fff !important;
}
@media (max-width: 1599.98px) {
  .navbar .subheader .resources-row .resource-item:first-child {
    margin-right: 70px;
  }
}
.navbar .subheader .resources-row .resource-item:last-child {
  margin-left: auto;
}
.navbar .subheader:hover {
  visibility: visible;
}
@media (max-width: 767.98px) {
  .navbar .subheader {
    display: none;
  }
}
.navbar .subheader-mobile {
  padding-left: 8px;
}
.navbar .subheader-mobile a {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;
}
@media (max-width: 767.98px) {
  .navbar .subheader-mobile a {
    font-weight: 400;
  }
}
.navbar .subheader-mobile p {
  margin-top: 12px;
  font-weight: 300;
  font-size: 12.8px;
  line-height: 15px;
}
@media (max-width: 767.98px) {
  .navbar {
    padding: 20px 0;
  }
  .navbar .navbar-brand img {
    width: 105px;
  }
  .navbar .navbar-toggler {
    padding: 0;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    height: 24px;
    width: 24px;
  }
  .navbar .navbar-toggler[aria-expanded=true] .navbar-toggler-icon {
    background-image: url("/assets/close.svg") !important;
  }
  .navbar .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar .navbar-nav {
    padding: 16px 0;
  }
  .navbar .navbar-nav .nav-contact {
    padding-bottom: 16px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
  }
  .navbar .nav-link {
    width: fit-content;
  }
  .navbar .btn-primary {
    font-size: 12.8px;
    height: 48px;
  }
  .navbar .bottom-links {
    border-top: 0.5px solid rgba(255, 255, 255, 0.5);
    justify-content: space-between;
  }
  .navbar .bottom-links a {
    font-weight: 300;
    font-size: 10.24px;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
  }
}

.footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
}
@media (max-width: 767.98px) {
  .footer .footer-logo {
    width: 140px;
  }
}
@media (min-width: 992px) {
  .footer .middle-col {
    margin: 0 50px 0 40px;
  }
}
@media (min-width: 1600px) {
  .footer .middle-col {
    margin: 0 116px;
  }
}
.footer .copyright {
  color: #0a2b51;
  font-size: 12.8px;
  line-height: 15px;
}
.footer .copyright a {
  font-weight: 500;
}

.carousel-indicators {
  margin-bottom: 0;
  top: 500px;
}

.carousel-indicators .active {
  background-color: #0a2b51 !important;
}

.carousel-indicators [data-bs-target] {
  background-color: #f3f4f6;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 8px;
  border-top: 0;
  border-bottom: 0;
}

.marquee-section {
  position: relative;
  min-height: 24px;
}

.marquee-section {
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
}

.marquee-div {
  position: absolute;
  animation: move-right-to-left linear 40s infinite;
}

/* use this one to move from left to right direction */
@keyframes move-left-to-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
/* use this one to move from right to left direction */
@keyframes move-right-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.lock-scroll {
  overflow: hidden;
}

.nav-up {
  top: -50px;
}

@media (min-width: 768px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}
@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}
.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.content .career-hero {
  z-index: 1;
  height: 560px;
  width: 100%;
  background-image: url("../assets/career/career-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 56px;
}
.content .career-hero .career-hero-content {
  max-width: 640px;
}
.content .career-hero .seperator {
  height: 1px;
  width: 70px;
  background-color: #d9d9d9;
}
@media (max-width: 767.98px) {
  .content .career-hero {
    height: 240px;
    background-image: url("../assets/career/career-hero-mob.png");
  }
}
.content .join-us {
  margin-bottom: 40px;
  margin-top: -270px;
  z-index: 2;
}
.content .join-us .card-row div:first-child .card p {
  max-width: 270px;
}
.content .join-us .card-row .card {
  height: 100%;
  align-items: center;
  padding: 50px 0;
  background-color: #f3f4f6;
  border-radius: 24px;
  border: none;
}
.content .join-us .card-row .card p {
  max-width: 295px;
}
.content .slider-first {
  margin-bottom: 16px;
}
.content .slider-first .swiper {
  padding-left: 32px !important;
  padding-right: 32px !important;
}
.content .slider-first .swiper .swiper-slide {
  height: auto;
}
.content .slider-first .swiper .swiper-slide .card {
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 40px 50px;
  background-color: #f3f4f6;
  border-radius: 20px;
  border: none;
}
.content .slider-first .swiper .swiper-slide .card h3 {
  font-size: 20px;
  line-height: 24px;
}
.content .slider-first .swiper .swiper-slide .card p {
  font-size: 12.8px;
  line-height: 15px;
}
.content .benefits {
  margin-bottom: 40px;
}
.content .benefits .card-row {
  margin-bottom: 24px;
}
.content .benefits .card-row .card {
  padding-left: 32px;
  height: 145px;
  background-color: #f3f4f6;
  border-radius: 20px;
  border: none;
}
.content .slider-second {
  margin-bottom: 16px;
}
.content .slider-second .swiper {
  padding-left: 32px !important;
  padding-right: 32px !important;
}
.content .slider-second .swiper .swiper-slide {
  height: auto;
}
.content .slider-second .swiper .swiper-slide .card {
  height: 120px;
  width: 100%;
  padding: 24px 0px 24px 40px;
  background-color: #f3f4f6;
  border-radius: 16px;
  border: none;
}
.content .slider-second .swiper .swiper-slide .card h3 {
  font-size: 20px;
  line-height: 24px;
}
.content .slider-second .swiper .swiper-slide .card p {
  font-size: 12.8px;
  line-height: 15px;
}
@media (max-width: 767.98px) {
  .content .slider-second .swiper .swiper-slide .card {
    padding: 24px 0 24px 24px;
  }
}
.content .gallery {
  margin-bottom: 40px;
}
@media (max-width: 991.98px) {
  .content .gallery {
    margin-bottom: 8px;
  }
}
.content .gallery .container .gallery-row {
  height: 400px;
  margin-bottom: 20px;
}
.content .gallery .container .gallery-row img:first-child {
  border-top-left-radius: 16px;
  width: calc(20% - 16px);
}
@media (max-width: 767.98px) {
  .content .gallery .container .gallery-row img:first-child {
    width: calc(20% - 8px);
  }
}
.content .gallery .container .gallery-row img:last-child {
  border-top-right-radius: 16px;
  margin-right: 0;
  width: 40%;
}
.content .gallery .container .gallery-row img {
  height: 100%;
  object-fit: cover;
  margin-right: 16px;
  width: calc(40% - 16px);
}
@media (max-width: 767.98px) {
  .content .gallery .container .gallery-row img {
    margin-right: 8px;
    width: calc(40% - 8px);
  }
}
.content .gallery .container .gallery-row:nth-of-type(3) {
  margin-bottom: 0;
}
.content .gallery .container .gallery-row:nth-of-type(3) img:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 16px;
  width: calc(40% - 16px);
}
@media (max-width: 767.98px) {
  .content .gallery .container .gallery-row:nth-of-type(3) img:first-child {
    width: calc(40% - 8px);
  }
}
.content .gallery .container .gallery-row:nth-of-type(3) img:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 16px;
  width: 20%;
}
@media (max-width: 767.98px) {
  .content .gallery .container .gallery-row {
    height: 280px;
    margin-bottom: 8px;
  }
}
.content .positions {
  margin-bottom: 48px;
}
.content .positions .positions-row {
  display: flex;
}
.content .positions .positions-row .position-card {
  height: 640px;
  width: 385px;
  background-color: #f3f4f6;
  padding: 40px;
  border-radius: 24px;
  line-height: 19px;
}
.content .positions .positions-row .position-card .card-header {
  padding-bottom: 24px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 24px;
}
.content .position-frame {
  background: #f3f4f6;
  border-radius: 24px;
  display: none;
  transition: all 0.5s ease-out;
}
.content .position-frame .btn-primary,
.content .position-frame .content-col {
  width: 304px;
}
.content .position-frame .frame-close {
  cursor: pointer;
}
.content .position-frame .frame-footer {
  align-items: flex-end;
}
@media (min-width: 768px) {
  .content .position-frame .frame-footer p {
    width: 650px;
  }
}
.content .position-frame .frame-footer a {
  text-decoration: none;
}
.content .position-frame .frame-footer .btn-primary {
  height: 47px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767.98px) {
  .content .position-frame {
    border-radius: 20px;
  }
  .content .position-frame .frame-close img {
    height: 24px;
    width: 24px;
  }
  .content .position-frame .btn-link,
  .content .position-frame .btn-primary,
  .content .position-frame .content-col {
    width: 100%;
  }
  .content .position-frame .frame-content,
  .content .position-frame .frame-footer {
    flex-direction: column;
  }
}
.content .slider-third {
  margin-bottom: 16px;
}
.content .slider-third .swiper {
  padding-left: 32px !important;
  padding-right: 32px !important;
}
.content .slider-third .swiper .swiper-slide {
  height: auto;
}
.content .slider-third .swiper .swiper-slide .position-card {
  height: 100%;
  width: 100%;
  background: #f3f4f6;
  border-radius: 20px;
  padding: 24px;
}
.content .slider-third .swiper .swiper-slide .position-card .card-header {
  padding-bottom: 24px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 24px;
}
.content .slider-third .swiper .swiper-slide .position-card .btn-primary {
  height: 48px;
  font-weight: 500;
}
.content .apply .main-row {
  position: relative;
  padding-bottom: 24px;
}
.content .apply .main-row .apply-form .form-select {
  margin-bottom: 10px;
  border-color: #0a2b51;
  border-radius: 12px;
}
.content .apply .main-row .apply-form .form-select:focus {
  box-shadow: none;
}
.content .apply .main-row .apply-form .row {
  margin-bottom: 10px;
}
.content .apply .main-row .apply-form .form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #0a2b51;
  color: #0a2b51;
  padding-left: 0;
  padding-bottom: 5px;
  margin-bottom: 14px;
}
.content .apply .main-row .apply-form .form-control:focus {
  box-shadow: none;
}
.content .apply .main-row .apply-form .form-control::placeholder {
  color: #0a2b51;
}
.content .apply .main-row .apply-form .btn-primary {
  width: 280px;
  padding: 10px 0;
}
@media (max-width: 767.98px) {
  .content .apply .main-row .apply-form .btn-primary {
    width: 100%;
  }
}
.content .apply .main-row .apply-form .btn-secondary {
  width: 145px;
}
@media (max-width: 767.98px) {
  .content .apply .main-row .apply-form .btn-secondary {
    width: 160px;
  }
}
@media (max-width: 767.98px) {
  .content .apply .main-row {
    flex-direction: column-reverse;
    padding-bottom: 0;
  }
  .content .apply .main-row .apply-form .row {
    margin-bottom: 0;
  }
  .content .apply .main-row .apply-form .form-select {
    height: 48px;
    font-weight: 300;
  }
  .content .apply .main-row .apply-form .form-control {
    height: 40px;
    font-weight: 300;
    font-size: 12.8px;
    padding: 0;
    margin: 0;
  }
  .content .apply .main-row .apply-form .form-control::placeholder {
    font-size: 12.8px;
    font-weight: 300;
  }
  .content .apply .main-row .apply-form textarea {
    height: 160px !important;
    padding-top: 12px !important;
  }
  .content .apply .main-row .apply-form .buttons-row {
    flex-direction: column;
  }
  .content .apply .main-row .apply-form .buttons-row .first button:first-child {
    margin-right: 10px;
  }
  .content .apply .main-row .apply-form .buttons-row .first button {
    color: #0a2b51;
  }
}
.content .apply .main-row img {
  margin-left: 70px;
  width: 510px;
}
@media (max-width: 767.98px) {
  .content .apply .main-row img {
    margin-left: 0;
    margin-bottom: 40px;
    width: 100%;
  }
}

.slider-first .swiper .swiper-pagination,
.slider-second .swiper .swiper-pagination,
.slider-third .swiper .swiper-pagination {
  position: relative;
  margin-top: 15px;
}
.slider-first .swiper .swiper-pagination .swiper-pagination-bullet,
.slider-second .swiper .swiper-pagination .swiper-pagination-bullet,
.slider-third .swiper .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #e5e8ed;
  opacity: 1;
  margin: 0 6px !important;
}
.slider-first .swiper .swiper-pagination .swiper-pagination-bullet-active,
.slider-second .swiper .swiper-pagination .swiper-pagination-bullet-active,
.slider-third .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0a2b51;
}

/*# sourceMappingURL=career.css.map */
