@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

$primary: #0a2b51;
$secondary: #a1ffa1;
$success: #65ff9f;
$info: #7164ff;
$warning: #ff9f65;
$danger: #ff457b;
$dark: #18181d;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 1.875,
  6: $spacer * 3,
  7: $spacer * 3.5,
);

$navbar-dark-color: #fff;
$navbar-nav-link-padding-x: 1.125rem;
$navbar-dark-hover-color: $secondary;
$navbar-dark-active-color: $secondary;
$navbar-brand-height: 0.35rem;

$dropdown-padding-y: 1.875rem;
$dropdown-border-radius: 0;
$dropdown-spacer: 1.3rem;

$font-family-base: "Inter", sans-serif;
$font-size-base: 1rem;

$h1-font-size: $font-size-base + 1.441rem;
$h2-font-size: $font-size-base + 0.563rem;
$h3-font-size: $font-size-base + 0.25rem;

$carousel-control-color: $dark;

$accordion-bg: transparent;
$accordion-border-width: 0;
$accordion-border-color: transparent;
$accordion-border-radius: 0;
$accordion-icon-width: 1.5rem;

$accordion-button-bg: transparent;
$accordion-button-active-bg: transparent;
$accordion-button-focus-border-color: transparent;
$accordion-button-focus-box-shadow: none;
$accordion-button-icon: url("/assets/resources/plus.svg");
$accordion-button-active-icon: url("/assets/resources/minus.svg");

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1225px,
);
