@import "styles";

.about-hero {
  background-color: $primary;
  background-image: url("/assets/about-us/hero-bg.png");
  background-position: right;
  background-repeat: no-repeat;
  color: #fff;

  .hero-content {
    max-width: 560px;
    line-height: 24px;
  }

  @include media-breakpoint-down(md) {
    background-color: #f3f4f6;
    background-image: url("/assets/about-us/hero-mobile.svg");
    color: $primary;
    h1 {
      font-size: 31px;
    }
    h4 {
      font-size: 16px;
    }
  }
}

.hero-description {
  h4 {
    line-height: 24px;
    letter-spacing: -0.01em;
  }

  @include media-breakpoint-down(md) {
    h4:first-child {
      border-top: 1px solid #d9d9d9;
    }
  }
  @include media-breakpoint-up(md) {
    h4:last-child {
      border-bottom: 1px solid #d9d9d9;
    }
  }
}

.what-we-stand {
  margin-bottom: 64px;
  .card {
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0px 128px 77px rgba(0, 0, 0, 0.01),
      0px 57px 57px rgba(0, 0, 0, 0.01), 0px 14px 31px rgba(0, 0, 0, 0.02),
      0px 0px 0px rgba(0, 0, 0, 0.02);
    padding: 40px;
    .info:last-child {
      margin: 0 0 0 auto;
    }
  }
  .content {
    padding: 40px 0 40px 56px;
    .content-card {
      img {
        margin-right: 30px;
      }
      margin-bottom: 40px;
      align-items: center;
    }
    .content-card:last-child {
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 8px;
    .card {
      padding: 24px;
      .info:last-child {
        margin: 0 0 0 auto;
      }
    }
    .content {
      padding: 40px 0;
      border-bottom: 1px solid rgba(10, 43, 81, 0.1);
      .content-card {
        align-items: flex-start;
        margin-bottom: 32px;
        .content-text {
          margin-top: 10px;
        }
      }
    }
  }
}

.partners-swiper {
  .swiper-slide {
    @include media-breakpoint-down(md) {
      text-align: center;
      padding-bottom: 10px;
    }
  }
}

.services {
  p {
    letter-spacing: -0.01em;
  }
  .services-tabs {
    .nav-tabs {
      border-bottom: 1px solid #0a2b511a;
      .nav-item {
        &:first-child {
          .nav-link {
            padding-left: 0;
            padding-right: 16px;
          }
        }
        .nav-link {
          border: none;
          padding-bottom: 16px;
          padding-right: 0;
          padding-left: 16px;
          color: rgba(10, 43, 81, 0.5);
          transition: none;
        }
        .nav-link.active {
          font-weight: 600;
          border-bottom: 1px solid #0a2b511a;
          color: $primary;
        }
      }
    }

    .tab-pane {
      .content-box {
        h2 {
          font-size: 20px;
        }
      }
      .btn-primary {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
      }
    }
  }
}

.reputation {
  nav {
    width: 480px;
  }
  .nav-tabs {
    border: 0;
  }
  .ppl-box {
    border-radius: 16px;
    padding: 24px 0px 24px 40px;
    width: 480px;
    border: 0;
    text-align: left;
    img {
      width: 72px;
      margin-right: 18px;
      border-radius: 24px;
    }

    &:hover {
      background: #ffffff;
      box-shadow: 0px 154px 93px rgba(0, 0, 0, 0.01),
        0px 69px 69px rgba(0, 0, 0, 0.02), 0px 17px 38px rgba(0, 0, 0, 0.02),
        0px 0px 0px rgba(0, 0, 0, 0.02);
    }

    @include media-breakpoint-down(md) {
      width: 100%;
      background: #ffffff;
      padding: 16px 0px 16px 32px;
      margin-bottom: 32px;
      &:hover {
        box-shadow: 0px 154px 93px rgba(0, 0, 0, 0.01),
          0px 69px 69px rgba(0, 0, 0, 0.02), 0px 17px 38px rgba(0, 0, 0, 0.02),
          0px 0px 0px rgba(0, 0, 0, 0.02);
      }
      img {
        width: 48px;
        margin-right: 8px;
        border-radius: 12px;
      }
    }
  }
  .ppl-box.active {
    background: #ffffff;
    box-shadow: 0px 154px 93px rgba(0, 0, 0, 0.01),
      0px 69px 69px rgba(0, 0, 0, 0.02), 0px 17px 38px rgba(0, 0, 0, 0.02),
      0px 0px 0px rgba(0, 0, 0, 0.02);
    color: $primary;
  }

  .tab-content {
    width: 570px;
  }
  .hide {
    display: none;
  }

  @include media-breakpoint-down(md) {
    h2 {
      font-size: 20px;
    }
    h4 {
      font-size: 16px;
    }
  }

  .swiper {
    padding-left: 32px !important;
    padding-right: 32px !important;
    .swiper-slide {
      width: 325px;
    }
    .swiper-slide-active {
      .ppl-box {
        box-shadow: 0px 154px 93px rgba(0, 0, 0, 0.01),
          0px 69px 69px rgba(0, 0, 0, 0.02), 0px 17px 38px rgba(0, 0, 0, 0.02),
          0px 0px 0px rgba(0, 0, 0, 0.02);
      }
    }
  }
}

.pop-block {
  .block {
    padding: 36px 56px;
    background: #f3f4f6;
    border-radius: 24px;

    .form-control {
      width: 180px;
      background: transparent;
      border: 0.5px solid $primary;
      border-radius: 12px;
      margin-right: 16px;
      padding-left: 16px;
    }
    .form-control::placeholder {
      color: $primary !important;
    }
    .form-control:focus {
      box-shadow: none;
    }
    .btn-secondary {
      width: 200px;
      background: transparent;
      padding-left: 16px;
      margin-right: 16px;
    }
    .btn-primary {
      width: 160px;
      font-weight: 500;
      font-size: 16px;
    }

    @include media-breakpoint-down(md) {
      padding: 24px;
      flex-direction: column;
      .btn-group {
        width: 100%;
        flex-direction: column;
      }
      .form-control {
        height: 40px;
        padding-left: 16px;
      }
      .btn-primary {
        padding: 10px 0;
        font-weight: 500;
      }
      .form-control,
      .btn-secondary,
      .btn-primary {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}

.pop-block:last-child {
  @include media-breakpoint-down(md) {
    a {
      width: 100%;
    }
  }
  .btn-primary {
    width: 240px;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
}

.gallery {
  .container {
    .gallery-row {
      height: 400px;
      margin-bottom: 20px;
      img:first-child {
        border-top-left-radius: 16px;
        width: calc(20% - 16px);
        @include media-breakpoint-down(md) {
          width: calc(20% - 8px);
        }
      }
      img:last-child {
        border-top-right-radius: 16px;
        margin-right: 0;
        width: 40%;
      }
      img {
        height: 100%;
        object-fit: cover;
        margin-right: 16px;
        width: calc(40% - 16px);
        @include media-breakpoint-down(md) {
          margin-right: 8px;
          width: calc(40% - 8px);
        }
      }

      &:nth-of-type(2) {
        margin-bottom: 0;
        img:first-child {
          border-top-left-radius: 0;
          border-bottom-left-radius: 16px;
          width: calc(40% - 16px);
          @include media-breakpoint-down(md) {
            width: calc(40% - 8px);
          }
        }
        img:last-child {
          border-top-right-radius: 0;
          border-bottom-right-radius: 16px;
          width: 20%;
        }
      }

      @include media-breakpoint-down(md) {
        height: 280px;
        margin-bottom: 8px;
      }
    }
  }
}
