@import "styles";

.content {
  .career-hero {
    z-index: 1;
    height: 560px;
    width: 100%;
    background-image: url("../assets/career/career-hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 56px;

    .career-hero-content {
      max-width: 640px;
    }

    .seperator {
      height: 1px;
      width: 70px;
      background-color: #d9d9d9;
    }

    @include media-breakpoint-down(md) {
      height: 240px;
      background-image: url("../assets/career/career-hero-mob.png");
    }
  }

  .join-us {
    margin-bottom: 40px;
    margin-top: -270px;
    z-index: 2;
    .card-row {
      div:first-child {
        .card {
          p {
            max-width: 270px;
          }
        }
      }
      .card {
        height: 100%;
        align-items: center;
        padding: 50px 0;
        background-color: #f3f4f6;
        border-radius: 24px;
        border: none;
        p {
          max-width: 295px;
        }
      }
    }
  }

  .slider-first {
    margin-bottom: 16px;
    .swiper {
      padding-left: 32px !important;
      padding-right: 32px !important;
      .swiper-slide {
        height: auto;
        .card {
          height: 100%;
          width: 100%;
          align-items: center;
          padding: 40px 50px;
          background-color: #f3f4f6;
          border-radius: 20px;
          border: none;
          h3 {
            font-size: 20px;
            line-height: 24px;
          }
          p {
            font-size: 12.8px;
            line-height: 15px;
          }
        }
      }
    }
  }

  .benefits {
    margin-bottom: 40px;
    .card-row {
      margin-bottom: 24px;
      .card {
        padding-left: 32px;
        height: 145px;
        background-color: #f3f4f6;
        border-radius: 20px;
        border: none;
      }
    }
  }
  .slider-second {
    margin-bottom: 16px;
    .swiper {
      padding-left: 32px !important;
      padding-right: 32px !important;
      .swiper-slide {
        height: auto;
        .card {
          height: 120px;
          width: 100%;
          padding: 24px 0px 24px 40px;
          background-color: #f3f4f6;
          border-radius: 16px;
          border: none;
          h3 {
            font-size: 20px;
            line-height: 24px;
          }
          p {
            font-size: 12.8px;
            line-height: 15px;
          }
        }
      }
    }
  }

  .gallery {
    margin-bottom: 40px;
    .container {
      .gallery-row {
        height: 400px;
        margin-bottom: 20px;
        img:first-child {
          border-top-left-radius: 16px;
          width: calc(20% - 16px);
          @include media-breakpoint-down(md) {
            width: calc(20% - 8px);
          }
        }
        img:last-child {
          border-top-right-radius: 16px;
          margin-right: 0;
          width: 40%;
        }
        img {
          height: 100%;
          object-fit: cover;
          margin-right: 16px;
          width: calc(40% - 16px);
          @include media-breakpoint-down(md) {
            margin-right: 8px;
            width: calc(40% - 8px);
          }
        }

        &:nth-of-type(3) {
          margin-bottom: 0;
          img:first-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 16px;
            width: calc(40% - 16px);
            @include media-breakpoint-down(md) {
              width: calc(40% - 8px);
            }
          }
          img:last-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 16px;
            width: 20%;
          }
        }

        @include media-breakpoint-down(md) {
          height: 280px;
          margin-bottom: 8px;
        }
      }
    }
  }

  .positions {
    margin-bottom: 48px;
    .positions-row {
      display: flex;
      .position-card {
        height: 640px;
        width: 385px;
        background-color: #f3f4f6;
        padding: 40px;
        border-radius: 24px;
        line-height: 19px;

        .card-header {
          padding-bottom: 24px;
          border-bottom: 1px solid #d9d9d9;
          margin-bottom: 24px;
        }
      }
    }
  }

  .position-frame {
    background: #f3f4f6;
    border-radius: 24px;
    display: none;
    transition: all 0.5s ease-out;

    .btn-primary,
    .content-col {
      width: 304px;
    }
    .frame-close {
      cursor: pointer;
    }
    .frame-footer {
      align-items: flex-end;
      p {
        @include media-breakpoint-up(md) {
          width: 650px;
        }
      }
      a {
        text-decoration: none;
      }
      .btn-primary {
        height: 47px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    @include media-breakpoint-down(md) {
      border-radius: 20px;
      .frame-close {
        img {
          height: 24px;
          width: 24px;
        }
      }
      .btn-link,
      .btn-primary,
      .content-col {
        width: 100%;
      }
      .frame-content,
      .frame-footer {
        flex-direction: column;
      }
    }
  }

  .slider-third {
    margin-bottom: 16px;
    .swiper {
      padding-left: 32px !important;
      padding-right: 32px !important;
      .swiper-slide {
        height: auto;
        .position-card {
          height: 100%;
          width: 100%;
          background: #f3f4f6;
          border-radius: 20px;
          padding: 24px;
          .card-header {
            padding-bottom: 24px;
            border-bottom: 1px solid #d9d9d9;
            margin-bottom: 24px;
          }
          .btn-primary {
            height: 48px;
            font-weight: 500;
          }
        }
      }
    }
  }

  .apply {
    .main-row {
      position: relative;
      padding-bottom: 24px;
      .apply-form {
        .form-select {
          margin-bottom: 10px;
          border-color: $primary;
          border-radius: 12px;
          &:focus {
            box-shadow: none;
          }
        }
        .row {
          margin-bottom: 10px;
        }
        .form-control {
          border: none;
          border-radius: 0;
          border-bottom: 1px solid $primary;
          color: $primary;
          padding-left: 0;
          padding-bottom: 5px;
          margin-bottom: 14px;
          &:focus {
            box-shadow: none;
          }
        }
        .form-control::placeholder {
          color: $primary;
        }

        .btn-primary {
          width: 280px;
          padding: 10px 0;
          @include media-breakpoint-down(md) {
            width: 100%;
          }
        }
        .btn-secondary {
          width: 145px;
          @include media-breakpoint-down(md) {
            width: 160px;
          }
        }
      }

      @include media-breakpoint-down(md) {
        flex-direction: column-reverse;
        padding-bottom: 0;
        .apply-form {
          .row {
            margin-bottom: 0;
          }
          .form-select {
            height: 48px;
            font-weight: 300;
          }
          .form-control {
            height: 40px;
            font-weight: 300;
            font-size: 12.8px;
            padding: 0;
            margin: 0;
            &::placeholder {
              font-size: 12.8px;
              font-weight: 300;
            }
          }
          textarea {
            height: 160px !important;
            padding-top: 12px !important;
          }
          .buttons-row {
            flex-direction: column;
            .first {
              button:first-child {
                margin-right: 10px;
              }
              button {
                color: $primary;
              }
            }
          }
        }
      }
      img {
        margin-left: 70px;
        width: 510px;
        @include media-breakpoint-down(md) {
          margin-left: 0;
          margin-bottom: 40px;
          width: 100%;
        }
      }
    }
  }
}

.slider-first,
.slider-second,
.slider-third {
  .swiper {
    .swiper-pagination {
      position: relative;
      margin-top: 15px;
      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: #e5e8ed;
        opacity: 1;
        margin: 0 6px !important;
      }
      .swiper-pagination-bullet-active {
        background-color: $primary;
      }
    }
  }
}
