@import "styles";

.contact-hero {
  height: 400px;
  width: 100%;
  background-image: url("../assets/contact-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 56px;

  .contact-hero-content {
    max-width: 520px;
  }

  @include media-breakpoint-down(md) {
    height: 240px;
    background-image: url("../assets/contact-hero-mob.png");
    h2 {
      font-size: 31.25px;
      line-height: 38px;
    }
  }
}

.swiper {
  margin-top: -90px;
  margin-bottom: 56px;
  .swiper-item {
    background: #fff;
    border-radius: 24px;
    height: 465px;
    .light-par {
      color: rgba(10, 43, 81, 0.5);
      font-size: 13px;
      line-height: 15px;
    }
    .form-control {
      height: 48px;
      border: 0.5px solid $primary;
      border-radius: 12px;
      color: $primary;
      background-color: transparent;
      padding-left: 24px;
    }
    .form-control::placeholder {
      color: $primary;
    }
    .form-control:focus {
      box-shadow: none;
    }
    textarea {
      height: 90px !important;
    }
    .btn-primary {
      padding: 12px 0;
      font-size: 16px;
    }

    .form-check-input {
      height: 24px;
      width: 24px;
      margin-right: 16px;
      margin-top: 0;
      border: 0.5px solid #0a2b51;
      border-radius: 4px;
      @include media-breakpoint-down(md) {
        height: 20px;
        width: 20px;
      }
    }
    .form-check-input:focus {
      box-shadow: none;
    }
    .form-check-input:checked {
      background-color: $secondary;
      border-color: $primary;
    }
    .form-check-input:checked[type="checkbox"] {
      background-image: none;
    }

    @include media-breakpoint-down(md) {
      background-color: #f3f4f6;
      border-radius: 12px;
      width: 100%;
      height: 100%;
      .form-control {
        height: 40px;
        padding-left: 16px;
        font-size: 12.8px;
        &::placeholder {
          font-size: 12.8px;
        }
      }
      textarea {
        height: 160px !important;
      }
      h2 {
        font-size: 20px;
      }
      .btn-primary {
        font-size: 12.8px;
        font-weight: 500;
      }
    }
  }
  .map {
    a {
      font-weight: 600;
    }
    img {
      height: 100%;
      width: 50%;
      border-bottom-left-radius: 12px;
      border-top-left-radius: 12px;
      object-fit: cover;
    }
    .par-light {
      font-size: 12.8px;
      color: rgba(10, 43, 81, 0.5);
      line-height: 15px;
    }
    @include media-breakpoint-down(md) {
      .map-row {
        flex-direction: column-reverse;
        img {
          width: 100%;
          border-bottom-right-radius: 12px;
        }
      }
    }
  }
  .contact-form {
    padding: 56px;
    padding-bottom: 0;
    h2 {
      line-height: 31px;
    }
    .contact-form-row {
      @include media-breakpoint-up(md) {
        input:last-child {
          margin-left: 16px;
        }
      }
    }

    @include media-breakpoint-down(md) {
      padding: 24px;
      .contact-form-row {
        flex-direction: column;
      }
      p {
        letter-spacing: -0.02px;
      }
      h2 {
        line-height: 24px;
      }
    }
  }
  .live-call {
    padding: 56px 100px 0;
    .live-call-row {
      @include media-breakpoint-up(md) {
        input:last-child {
          margin-left: 16px;
        }
      }
    }

    @include media-breakpoint-down(md) {
      padding: 24px;
      .row {
        flex-direction: column-reverse;
        img {
          width: 216px;
          height: 188px;
          margin-bottom: 18px;
        }
      }
      .live-call-row {
        flex-direction: column;
      }
    }
  }

  .swiper-button-prev {
    background-image: url("/assets/arrow-left.svg");
    background-repeat: no-repeat;
    left: 15%;
    @include media-breakpoint-down(xxl) {
      left: 3%;
    }
  }
  .swiper-button-prev::after {
    display: none;
  }
  .swiper-button-next {
    background-image: url("/assets/arrow-right.svg");
    background-repeat: no-repeat;
    right: 15%;
    @include media-breakpoint-down(xxl) {
      right: 3%;
    }
  }
  .swiper-button-next::after {
    display: none;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: #2c3e50;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .swiper-pagination {
    position: relative;
    margin-top: 32px;
    @include media-breakpoint-down(md) {
      margin-top: 20px;
    }
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #e5e8ed;
    margin: 0 8px !important;
    opacity: 1;
    @include media-breakpoint-down(md) {
      margin: 0 6px !important;
    }
  }
  .swiper-pagination-bullet-active {
    background: $primary;
  }

  @include media-breakpoint-down(md) {
    margin-top: 35px;
    margin-bottom: 40px;
    padding-left: 32px !important;
    padding-right: 32px !important;
    .swiper-slide {
      height: 548px;
    }
  }
}
