@import "styles";

.contact-hero {
  height: 400px;
  width: 100%;
  background-image: url("../assets/contact-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 56px;

  .contact-hero-content {
    max-width: 520px;
  }

  @include media-breakpoint-down(md) {
    height: 240px;
    background-image: url("../assets/contact-hero-mob.png");
  }
}

.carousel {
  .carousel-inner {
    margin-top: -90px;
    z-index: 10;
    background-color: #fff;
    border-radius: 24px;
    .carousel-item {
      span {
        color: rgba(10, 43, 81, 0.5);
        font-size: 13px;
      }
      .form-control {
        height: 48px;
        border: 0.5px solid $primary;
        border-radius: 12px;
        color: $primary;
        background-color: transparent;
      }
      .form-control::placeholder {
        color: $primary;
      }
      .form-control:focus {
        box-shadow: none;
      }
      textarea {
        height: 90px !important;
      }

      .form-check-input {
        height: 24px;
        width: 24px;
        margin-right: 16px;
        margin-top: 0;
        @include media-breakpoint-down(md) {
          height: 20px;
          width: 20px;
        }
      }
      .form-check-input:focus {
        box-shadow: none;
      }
    }

    .contact-form {
      padding: 56px 56px 32px 56px;
      .contact-form-row {
        @include media-breakpoint-up(md) {
          input:last-child {
            margin-left: 16px;
          }
        }
      }

      @include media-breakpoint-down(md) {
        padding: 24px;
        .contact-form-row {
          flex-direction: column;
        }
      }
    }

    .live-call {
      padding: 56px 100px;
      .live-call-row {
        @include media-breakpoint-up(md) {
          input:last-child {
            margin-left: 16px;
          }
        }
      }
      img {
        margin-left: 70px;
      }
    }

    .map {
      a {
        font-weight: 600;
      }
    }

    @include media-breakpoint-down(md) {
      margin-top: 35px;
      background: #f3f4f6;
      border-radius: 12px;
    }
  }

  .carousel-control-next {
    justify-content: flex-start;
  }
  .carousel-control-prev {
    justify-content: flex-end;
  }
}
