@import "styles";

.contact-hero {
  height: 400px;
  width: 100%;
  background-image: url("../assets/contact-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 56px;

  .contact-hero-content {
    max-width: 520px;
  }
}

.carousel {
  .carousel-inner {
    margin-top: -90px;
    z-index: 10;
    background-color: #fff;
    border-radius: 24px;
    .carousel-item {
      height: 480px;
      span {
        color: rgba(10, 43, 81, 0.5);
        font-size: 13px;
      }
      .form-control {
        height: 48px;
        border: 0.5px solid $primary;
        border-radius: 12px;
        color: $primary;
      }
      .form-control::placeholder {
        color: $primary;
      }
      textarea {
        height: 90px !important;
      }
    }

    .contact-form {
      padding: 56px;
    }

    .live-call {
      padding: 56px 100px;
      h2 {
        font-size: 30px;
      }
      img {
        margin-left: 70px;
      }
    }
    .map {
      a {
        font-weight: 600;
      }
    }
  }
}
