@import "styles";

.home-hero {
  h1 {
    font-size: 61px;
  }
  padding: 120px 0;
  .btn-primary {
    width: 200px;
    height: 56px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 0 auto;
    @include media-breakpoint-down(md) {
      width: 160px;
      font-size: 12.8px;
      height: 48px;
    }
  }
  @include media-breakpoint-down(md) {
    padding: 0;
    h1 {
      font-size: 31.25px;
    }
    h3,
    h4 {
      font-size: 16px;
    }
    .swiper-slide {
      padding: 64px 0;
    }
  }
}

.partners-slider {
  @include media-breakpoint-down(md) {
    .swiper-slide {
      text-align: center;
    }
  }
}

.how-we-work {
  padding: 125px 0;
  h1 {
    font-size: 31.25px;
  }
  .card {
    height: 665px;
    border: none;
    border-radius: 24px;
    padding: 0px 40px 0px 40px;

    .small {
      font-size: 12.8px;
    }
    img {
      object-fit: contain;
    }

    &:hover {
      background: #ffffff;
      box-shadow: 0px 214px 128px rgba(0, 0, 0, 0.01),
        0px 95px 95px rgba(0, 0, 0, 0.02), 0px 24px 52px rgba(0, 0, 0, 0.02),
        0px 0px 0px rgba(0, 0, 0, 0.02);
    }
  }

  @include media-breakpoint-down(md) {
    padding: 64px 0;
    h1 {
      font-size: 25px;
    }
    h4 {
      font-size: 16px;
    }
    .card {
      padding: 0;
      height: auto;
      &:hover {
        background: transparent;
        box-shadow: none;
      }
    }
  }
}

.help {
  margin-bottom: 140px;
  .header {
    h1 {
      font-size: 31.25px;
    }
  }
  .card {
    border: 0;
    border-radius: 24px;
    padding: 40px 0 32px 0;
    .count {
      font-size: 61px;
    }
    .icon {
      height: 56px;
      width: 56px;
      margin-bottom: 45px;
      background: #f3f4f6;
      border-radius: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    button {
      margin-top: 32px;
      width: 160px;
      visibility: hidden;
    }

    &:hover {
      background: #ffffff;
      box-shadow: 0px 116px 69px rgba(0, 0, 0, 0.01),
        0px 51px 51px rgba(0, 0, 0, 0.02), 0px 13px 28px rgba(0, 0, 0, 0.02),
        0px 0px 0px rgba(0, 0, 0, 0.02);
      button {
        visibility: visible;
      }
    }
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 64px;
    .card {
      padding-left: 60px;
      padding-right: 60px;
      background: #ffffff;
      box-shadow: 0px 116px 69px rgba(0, 0, 0, 0.01),
        0px 51px 51px rgba(0, 0, 0, 0.02), 0px 13px 28px rgba(0, 0, 0, 0.02),
        0px 0px 0px rgba(0, 0, 0, 0.02);
      button {
        visibility: visible;
      }
      h1 {
        font-weight: 700;
        font-size: 61.04px;
      }
      h3 {
        font-size: 25px;
      }

      .icon {
        margin-bottom: 40px;
      }
    }
  }
}

.home-services {
  padding-bottom: 120px;
  @include media-breakpoint-down(md) {
    padding-bottom: 64px;
    h3 {
      font-weight: 600;
      font-size: 33.25px;
    }
  }
  .seperator-big {
    padding-bottom: 120px;
    @include media-breakpoint-down(md) {
      padding-bottom: 64px;
    }
  }
  .services {
    .services-left {
      width: 300px;
      h4 {
        font-size: 18px;
      }
      @include media-breakpoint-down(md) {
        h2 {
          font-size: 33px;
        }
        width: 100%;
      }
    }
    .services-right {
      .card {
        padding: 24px;
        width: 384px;
        border-radius: 20px;
        border: 0;
        margin-left: 30px;
        .icon-box {
          height: 48px;
          width: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #234163;
          border-radius: 12px;
        }
        a {
          visibility: hidden;
        }

        @include media-breakpoint-up(lg) {
          &:hover {
            background: #ffffff;
            box-shadow: 0px 123px 74px rgba(0, 0, 0, 0.01),
              0px 55px 55px rgba(0, 0, 0, 0.01),
              0px 14px 30px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(0, 0, 0, 0.02);
            a {
              visibility: visible;
            }
          }
        }

        @include media-breakpoint-down(md) {
          padding: 32px 24px;
          width: 100%;
          margin-bottom: 32px;
          background: #ffffff;
          box-shadow: 0px 123px 74px rgba(0, 0, 0, 0.01),
            0px 55px 55px rgba(0, 0, 0, 0.01), 0px 14px 30px rgba(0, 0, 0, 0.02),
            0px 0px 0px rgba(0, 0, 0, 0.02);
        }
      }
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;
      .services-right {
        .card-row {
          flex-direction: column;
          .card {
            width: 100%;
            margin-left: 0;
          }
        }
      }
    }
  }
}

.reputation {
  margin-bottom: 80px;
  @include media-breakpoint-down(md) {
    h2 {
      font-size: 25px;
    }
    margin-bottom: 32px;
  }
  nav {
    width: 480px;
  }
  .nav-tabs {
    border: 0;
  }
  .ppl-box {
    border-radius: 16px;
    padding: 24px 0px 24px 40px;
    width: 480px;
    border: 0;
    text-align: left;
    img {
      width: 72px;
      margin-right: 18px;
      border-radius: 24px;
    }

    &:hover {
      background: #ffffff;
      box-shadow: 0px 154px 93px rgba(0, 0, 0, 0.01),
        0px 69px 69px rgba(0, 0, 0, 0.02), 0px 17px 38px rgba(0, 0, 0, 0.02),
        0px 0px 0px rgba(0, 0, 0, 0.02);
    }

    @include media-breakpoint-down(md) {
      width: 100%;
      background: #ffffff;
      padding: 16px 0px 16px 32px;
      margin-bottom: 32px;
      &:hover {
        box-shadow: 0px 154px 93px rgba(0, 0, 0, 0.01),
          0px 69px 69px rgba(0, 0, 0, 0.02), 0px 17px 38px rgba(0, 0, 0, 0.02),
          0px 0px 0px rgba(0, 0, 0, 0.02);
      }
      img {
        width: 48px;
        margin-right: 24px;
        border-radius: 12px;
      }
    }

    .swiper-slide {
      &:hover {
        .ppl-box {
          box-shadow: 0px 154px 93px rgba(0, 0, 0, 0.01),
            0px 69px 69px rgba(0, 0, 0, 0.02), 0px 17px 38px rgba(0, 0, 0, 0.02),
            0px 0px 0px rgba(0, 0, 0, 0.02);
        }
      }
    }
  }
  .ppl-box.active {
    background: #ffffff;
    box-shadow: 0px 154px 93px rgba(0, 0, 0, 0.01),
      0px 69px 69px rgba(0, 0, 0, 0.02), 0px 17px 38px rgba(0, 0, 0, 0.02),
      0px 0px 0px rgba(0, 0, 0, 0.02);
    color: $primary;
  }

  .tab-content {
    width: 570px;
  }
  .hide {
    display: none;
  }

  @include media-breakpoint-down(md) {
    h2 {
      font-size: 20px;
    }
    h4 {
      font-size: 16px;
    }
  }

  .swiper {
    padding-left: 32px !important;
    padding-right: 32px !important;
    .swiper-slide {
      width: 100%;
    }
    .swiper-slide-active {
      .ppl-box {
        box-shadow: 0px 154px 93px rgba(0, 0, 0, 0.01),
          0px 69px 69px rgba(0, 0, 0, 0.02), 0px 17px 38px rgba(0, 0, 0, 0.02),
          0px 0px 0px rgba(0, 0, 0, 0.02);
      }
    }
  }
}

.home-contact {
  padding: 120px 0;
  .form-inputs {
    .form-control:first-child {
      margin-right: 8px;
    }
    .form-control {
      height: 40px;
      border: 0.5px solid #ffffff;
      border-radius: 12px;
      background: transparent;
      color: #fff;
      font-size: 12.8px;
    }
    .form-control::placeholder {
      color: #fff;
      font-size: 12.8px;
    }
  }
  .btn-primary {
    padding: 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include media-breakpoint-down(md) {
    padding: 64px 0;
    h1 {
      font-size: 16px;
    }
    .form-inputs {
      flex-direction: column;
      .form-control:first-child {
        margin-right: 0;
        margin-bottom: 8px;
      }
    }
  }
}

.statistics {
  padding: 120px 0;
  @include media-breakpoint-down(md) {
    padding: 32px 0;
  }
  .heading {
    margin-bottom: 120px;
    @include media-breakpoint-down(md) {
      margin-bottom: 32px;
      padding-bottom: 32px;
      padding-top: 64px;
      border-bottom: 1px solid $info;
      border-top: 1px solid $info;
    }
  }
  .statistic {
    justify-content: space-between;
    .count {
      font-size: 95.73px;
    }
    .statistic-left,
    .statistic-right {
      width: 50%;
    }
    .statistic-left {
      padding-left: 120px;
      padding-right: 115px;
    }
    .statistic-right {
      text-align: center;
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;

      .statistic-left,
      .statistic-right {
        width: 100%;
      }
      .statistic-right {
        text-align: center;
      }
      .statistic-left {
        padding: 0;
        text-align: center;
        div {
          width: 100%;
          justify-content: center;
        }
        h1 {
          font-weight: 600;
          font-size: 61.04px;
        }
        h3 {
          font-size: 20px;
        }
      }
      img {
        width: 100%;
      }
    }
  }
}

.home-blog {
  padding: 70px 0 0 0;
  background-color: #f3f4f6;
  .swiper {
    padding-bottom: 120px;
    padding-top: 40px;
    .swiper-wrapper {
      justify-content: center;
      .swiper-slide {
        height: 640px;
        width: 384px;
        .card {
          height: 100%;
          border-radius: 24px;
          border: 0;
          background-color: #f3f4f6;
          .img-container {
            height: 393px;
            width: 100%;
            border-top-right-radius: 24px;
            border-top-left-radius: 24px;
            img {
              height: 100%;
              object-fit: cover;
              border-top-right-radius: 24px;
              border-top-left-radius: 24px;
            }
          }
          .card-content {
            padding: 0 40px 40px 40px;
            h4 {
              font-weight: 500;
              @include media-breakpoint-down(lg) {
                font-size: 16px;
              }
            }
            .blog-button {
              width: 100%;
              height: 48px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 12px;
              background-color: transparent;
              border: 0.5px solid $primary;
              font-size: 16px;
              font-weight: 500;
              color: $primary;
              &:hover {
                background-color: $secondary;
                border: 0;
              }
            }
            @include media-breakpoint-down(md) {
              padding: 0 24px 32px 24px;
            }
          }

          @include media-breakpoint-up(lg) {
            &:hover {
              box-shadow: 0px 100px 123px rgba(35, 39, 46, 0.01),
                0px 91px 91px rgba(35, 39, 46, 0.02),
                0px 23px 50px rgba(35, 39, 46, 0.02),
                0px 0px 0px rgba(35, 39, 46, 0.02);
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    h1 {
      font-size: 31px;
    }
    padding: 64px 0 0 0;
    .blog-header {
      padding: 0 58px 0 58px;
    }
    .swiper {
      padding: 64px 32px;
      .swiper-wrapper {
        justify-content: flex-start;
        .swiper-slide {
          width: 326px;
          height: 440px;
          .card {
            height: 100%;
            width: 100%;
            box-shadow: 0px 100px 123px rgba(35, 39, 46, 0.01),
              0px 91px 91px rgba(35, 39, 46, 0.02),
              0px 23px 50px rgba(35, 39, 46, 0.02),
              0px 0px 0px rgba(35, 39, 46, 0.02);
            h4 {
              font-weight: 500;
            }
            .img-container {
              height: 230px;
            }
          }
        }
      }
    }
  }
}

.home-faq {
  padding: 64px 0;
  .separator-top {
    padding-bottom: 120px;
    @include media-breakpoint-down(md) {
      padding-bottom: 64px;
    }
  }
  .separator-bottom {
    padding-top: 120px;
    @include media-breakpoint-down(md) {
      padding-top: 32px;
    }
  }
  .accordion-item {
    .accordion-button {
      font-size: 20px;
      padding: 16px 24px 16px 32px;
      color: $primary;
      @include media-breakpoint-down(md) {
        font-size: 16px;
      }
    }
    .collapsed {
      padding-bottom: 6px;
    }
    .accordion-button.collapsed::after {
      background: url("/assets/home/plus.svg");
    }

    .accordion-button:not(.collapsed)::after {
      background: url("/assets/home/minus.svg");
    }

    .accordion-body {
      padding: 8px 24px 20px 32px;
      color: $primary;
    }
    .show {
      box-shadow: 0px 386px 232px rgba(0, 0, 0, 0.01),
        0px 172px 172px rgba(0, 0, 0, 0.02), 0px 43px 94px rgba(0, 0, 0, 0.03),
        0px 0px 0px rgba(0, 0, 0, 0.03);
      border-radius: 32px;
    }
  }

  @include media-breakpoint-down(md) {
    padding: 32px 0 64px 0;
    h2 {
      font-size: 31px;
    }
  }
}

.get-started {
  background-color: #f3f4f6;
  padding: 64px 0;
  button {
    width: 160px;
    height: 48px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-secondary {
    background-color: transparent;
    border: 0.5px solid $primary;
    border-radius: 12px;
    &:hover {
      background-color: $secondary;
      border-color: $secondary;
    }
  }

  @include media-breakpoint-down(md) {
    h1 {
      font-size: 25px;
    }
    padding: 64px 0;
    .container {
      padding: 0 50px;
      .buttons {
        flex-direction: column;
        button:first-child {
          margin-bottom: 8px;
        }
        button {
          width: 100%;
        }
      }
    }
  }
}
