@import "styles";

.resources-hero {
  margin-bottom: 40px;
  background-color: #f3f4f6;
  .container {
    background-image: url("../assets/resources/resources-hero.svg");
    background-repeat: no-repeat;
    background-position: right;
    height: 100%;
    padding-bottom: 80px;

    h1 {
      margin-bottom: 20px;
    }
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 24px;
    .container {
      background-image: none;
      padding-top: 40px;
      padding-bottom: 40px;
      h1 {
        font-size: 31.25px;
        margin-bottom: 16px;
      }
      h4 {
        font-size: 16px;
      }
    }
  }
}

.resources-tabs {
  .nav-tabs {
    border-bottom: 1px solid #0a2b511a;
    .nav-item {
      &:first-child {
        .nav-link {
          padding-left: 0;
        }
      }
      .nav-link {
        border: none;
        padding-bottom: 20px;
        padding-right: 24px;
        padding-left: 24px;
        color: rgba(10, 43, 81, 0.5);
        @include media-breakpoint-down(md) {
          padding-bottom: 16px;
          padding-right: 20px;
          padding-left: 20px;
        }
      }
      .nav-link.active {
        font-weight: 600;
        border-bottom: 1px solid #0a2b511a;
        color: $primary;
      }
    }
  }
  .tab-box {
    background-color: #f3f4f6;
    height: 745px;
    border-radius: 12px;
    margin-top: 32px;
    margin-bottom: 56px;
    overflow-y: scroll;

    .form-control {
      background-color: #f3f4f6;
      border: 0.5px solid $primary;
      border-radius: 10px;
      color: $primary;
      margin-bottom: 35px;
      height: 48px;
      background-image: url("/assets/search.svg");
      background-repeat: no-repeat;
      background-position: 97%;

      &::placeholder {
        color: $primary;
      }
      &:focus {
        box-shadow: none;
      }
    }

    @include media-breakpoint-down(md) {
      margin-top: 24px;
      height: 625px;
      margin-bottom: 40px;
      .form-control {
        background-image: none;
        height: 40px;
        font-size: 12.8px;
        &::placeholder {
          font-size: 12.8px;
        }
      }
    }
  }
  .blog {
    padding: 56px 56px 0 56px;
    .box-content {
      .card-row {
        justify-content: space-between;
        .card {
          width: 340px;
          height: 305px;
          background-color: transparent;
          border: none;
          img {
            height: 200px;
            width: 100%;
            margin-bottom: 24px;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
          }
          p {
            font-weight: 500;
          }
        }
        @include media-breakpoint-down(md) {
          flex-direction: column;
        }
      }
    }

    @include media-breakpoint-down(md) {
      padding: 24px;
      .box-content {
        .card-row {
          .card {
            width: 100%;
            height: auto;
            p {
              margin-bottom: 24px;
            }
            img {
              height: 160px;
              margin-bottom: 16px;
              border-top-left-radius: 0;
              border-top-right-radius: 0;
            }
          }
        }
      }
    }
  }

  .accordion {
    .accordion-item {
      .accordion-button {
        padding-left: 0;
        padding-top: 0;
        padding-right: 30px;
        line-height: 24px;
      }
      .accordion-body {
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 34px;
        max-width: 900px;
      }
    }
  }
}
