@import "styles";

.services-hero {
  background-color: $primary;
  color: #fff;
  margin-bottom: 40px;
  .content {
    max-width: 750px;
  }

  @include media-breakpoint-down(md) {
    padding: 40px 0;
    background-color: #f3f4f6;
    background-image: url("/assets/about-us/hero-mobile.svg");
    background-position: right;
    background-repeat: no-repeat;
    color: $primary;
    .content {
      width: 100%;
    }
  }
}

.services-tabs {
  .nav-tabs {
    border-bottom: 1px solid #0a2b511a;
    padding-bottom: 12px;
    .nav-link {
      border: none;
      padding: 6px 28px;
      color: $primary;
      border-radius: 4px;
    }
    .nav-link.active {
      font-weight: 600;
      background-color: $primary;
      color: #fff;
    }

    @include media-breakpoint-down(md) {
      .nav-link {
        padding: 0;
        color: rgba(10, 43, 81, 0.5);
        padding: 0 32px;
      }
      .nav-link.active {
        background-color: transparent;
        color: $primary;
        padding: 0;
      }
    }
  }

  .tab-content {
    .btn-primary {
      width: 160px;
      font-size: 12px;
    }
    .small-title {
      font-size: 12px;
    }

    .icon-box {
      background: #f3f4f6;
      border-radius: 12px;
      width: fit-content;
    }

    .services-more {
      .container {
        padding-bottom: 120px;
      }
    }

    .services-contact {
      padding: 112px 0;
      .form-control {
        height: 40px;
        border: 0.5px solid #ffffff;
        border-radius: 12px;
        background: transparent;
      }
      .form-control::placeholder {
        color: #fff;
      }
    }

    .services-studies {
      .card {
        img {
          border-top-right-radius: 12px;
          border-top-left-radius: 12px;
        }
        .card-content {
          background-color: #f3f4f6;
          padding: 28px 36px;
          color: #263238;
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;
        }
      }
    }

    @include media-breakpoint-down(md) {
      .services-intro {
        .row {
          flex-direction: column-reverse;

          img {
            width: 100%;
          }
        }
      }

      .services-facts {
        background-color: #0a2b51;
        position: relative;
        .mob-icon-box {
          background-color: rgba(255, 255, 255, 0.1);
          height: 32px;
          width: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
        }
        .text-opacity {
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          color: rgba(255, 255, 255, 0.25);
        }
      }
    }
  }
}
