@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

p,
h1 {
  margin-bottom: 0;
}
h1,
h2 {
  font-weight: 600;
}

.navbar {
  position: relative;

  .nav-res:hover {
    .subheader {
      visibility: visible;
    }
  }
  .nav-link span {
    font-size: 12px;
    font-weight: 600;
    padding-left: 7px;
  }

  .dropdown-menu {
    border-top: 0.5px solid $secondary;
  }

  .subheader {
    padding: 30px 0 40px 0;
    z-index: 1000;
    visibility: hidden;
    top: 100%;
    left: 0;
    position: absolute;
    border-top: 0.5px solid $secondary;
  }
}

.footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
}
