@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

p,
h1,
h2,
h3,
h4 {
  margin-bottom: 0;
  letter-spacing: 0;
}

p {
  line-height: 19px;
}

.btn-primary {
  background: $secondary;
  border-radius: 12px;
  color: $primary;
  font-weight: 500;
  padding: 15px 0;
  text-align: center;
  border: none;
}

.btn-secondary {
  background: #fff;
  border: 1px solid #0a2b51;
  border-radius: 12px;
  padding: 10px 0;
}

.text-section {
  margin-top: 16px;
  margin-bottom: 16px;
  ul {
    padding-left: 30px;
  }
}

.navbar {
  position: relative;

  .nav-res:hover {
    .subheader {
      visibility: visible;
    }
  }
  .nav-link span {
    font-size: 12px;
    font-weight: 600;
    padding-left: 7px;
  }

  .dropdown-menu {
    border-top: 0.5px solid $secondary;
    padding: 30px 0 15px 0;
    li {
      .nav-link {
        width: fit-content;
        padding: 0 0 15px 35px;
      }
    }
  }

  .subheader {
    padding: 30px 0 40px 0;
    z-index: 1000;
    visibility: hidden;
    top: 100%;
    left: 0;
    position: absolute;
    border-top: 0.5px solid $secondary;
    .resource-item:first-child {
      p {
        margin-left: 0;
      }
    }
    .resource-item {
      p {
        width: fit-content;
        margin-left: -25px;
      }
    }
    &:hover {
      visibility: visible;
    }
    ul {
      padding-left: 0;
      line-height: 19px;

      li {
        list-style-type: disc;
      }
    }

    .no-wrap-url {
      li {
        white-space: nowrap;
      }
    }
  }
}

.footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  line-height: 19px;

  .footer-logo {
    margin-bottom: 30px;
  }

  .form-control {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    width: 300px;
  }
  .btn-primary {
    width: 300px;
  }
}
