@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

p,
h1,
h2,
h3,
h4 {
  margin-bottom: 0;
  letter-spacing: 0;
}

p {
  line-height: 19px;
}

.btn-primary {
  background: $secondary;
  border-radius: 12px;
  color: $primary;
  font-weight: 500;
  padding: 15px 0;
  text-align: center;
  border: none;
  font-size: 16px;
}

.btn-secondary {
  background: #fff;
  border: 1px solid $primary;
  border-radius: 12px;
  padding: 10px 0;
  &:hover {
    background: $secondary;
    color: $primary;
    border-color: $secondary;
  }
}

.text-section {
  margin-top: 25px;
  margin-bottom: 25px;
  ul {
    padding-left: 30px;
  }
}

@include media-breakpoint-down(md) {
  .container {
    padding-right: 32px;
    padding-left: 32px;
  }
}

.contact-col {
  .form-control {
    background: transparent;
    border-radius: 0;
    padding-left: 0;
    color: #fff;
    height: 30px;
    @include media-breakpoint-down(md) {
      height: 40px;
    }
  }
  .form-control::placeholder {
    color: #fff;
    font-weight: 300;
    font-size: 12.8px;
  }
}

.navbar {
  position: relative;
  .nav-res:hover {
    .subheader {
      visibility: visible;
    }
  }

  .dropdown {
    @include media-breakpoint-down(md) {
      border: 1px solid #ffffff;
      border-radius: 8px;
      margin-top: 24px;

      .dropdown-toggle::after {
        border: none !important;
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f107"; /* the desired FontAwesome icon */
        vertical-align: 0; /* to center vertically */
        margin-right: 11px;
        margin-left: auto;
      }
      .dropdown-toggle.show::after {
        content: "\f106" !important; /* the different icon */
      }
    }

    .dropdown-toggle {
      padding-left: 16px !important;
      padding-right: 0px !important;
      span {
        font-size: 12px;
        font-weight: 600;
        padding-left: 7px;
      }
      @include media-breakpoint-down(md) {
        padding-top: 10px;
        padding-bottom: 10px;
        width: auto !important;
        span {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          padding-left: 10px;
        }
        img {
          width: 29px;
        }
      }
    }
    .dropdown-toggle:focus {
      outline: none !important;
      box-shadow: none;
    }
    button:focus,
    a:focus {
      outline: none;
    }

    .dropdown-menu {
      border-top: 0.5px solid #acffbe;
      padding: 24px 0 8px 0;
      min-width: 100px;
      margin-top: 24px;
      white-space: nowrap;
      li {
        .nav-link {
          padding: 0 20px 16px 20px;
          span {
            font-weight: 600;
            font-size: 12.8px;
            line-height: 15px;
            margin-left: 7px;
          }
          img {
            width: 29px;
          }
        }
      }
      @include media-breakpoint-down(md) {
        border-top: none;
        padding: 0;
        margin-top: 6px;

        li {
          .nav-link {
            padding: 0 16px 16px 16px;
            span {
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
            }
          }
        }
      }
    }
  }

  .subheader {
    padding: 30px 0 40px 0;
    z-index: 1000;
    visibility: hidden;
    top: 100%;
    left: 0;
    position: absolute;
    border-top: 0.5px solid #acffbe;
    .resources-row {
      .resource-item:first-child {
        margin-right: 106px;
      }
      .resource-item:last-child {
        margin-left: auto;
      }
    }
    &:hover {
      visibility: visible;
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .subheader-mobile {
    padding-left: 8px;
    a {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;
      text-decoration: none;
      @include media-breakpoint-down(md) {
        font-weight: 400;
      }
    }
    p {
      margin-top: 12px;
      font-weight: 300;
      font-size: 12.8px;
      line-height: 15px;
    }
  }

  @include media-breakpoint-down(md) {
    padding: 20px 0;

    .navbar-brand {
      img {
        width: 105px;
      }
    }
    .navbar-toggler {
      padding: 0;
      .navbar-toggler-icon {
        height: 24px;
        width: 24px;
      }
    }
    .navbar-toggler[aria-expanded="true"] {
      .navbar-toggler-icon {
        background-image: url("/assets/close.svg") !important;
      }
    }
    .navbar-toggler:focus {
      box-shadow: none;
    }

    .navbar-nav {
      padding: 16px 0;
      .nav-contact {
        padding-bottom: 16px;
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
      }
    }

    .nav-link {
      width: fit-content;
      &:hover {
        color: #fff;
      }
    }
    .btn-primary {
      font-size: 12.8px;
      height: 48px;
    }

    .bottom-links {
      border-top: 0.5px solid rgba(255, 255, 255, 0.5);
      justify-content: space-between;
      a {
        font-weight: 300;
        font-size: 10.24px;
        line-height: 12px;
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
      }
    }
  }
}

.footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  .footer-logo {
    @include media-breakpoint-down(md) {
      width: 140px;
    }
  }

  .middle-col {
    @include media-breakpoint-up(md) {
      margin: 0 116px;
    }
  }

  .copyright {
    color: $primary;
    font-size: 12.8px;
    line-height: 15px;
    a {
      font-weight: 500;
    }
  }
}

.carousel-indicators {
  margin-bottom: 0;
  top: 500px;
}
.carousel-indicators .active {
  background-color: $primary !important;
}
.carousel-indicators [data-bs-target] {
  background-color: #f3f4f6;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 8px;
  border-top: 0;
  border-bottom: 0;
}

.marquee-section {
  position: relative;
  min-height: 24px;
}

.marquee-section {
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
}

.marquee-div {
  position: absolute;
  animation: move-right-to-left linear 40s infinite;
}

/* use this one to move from left to right direction */
@keyframes move-left-to-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

/* use this one to move from right to left direction */
@keyframes move-right-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.lock-scroll {
  overflow: hidden;
}
